@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* About us */
/* Container 118 */
.main-container {
  position: absolute;
  top: 0px;
  /* left: 0px;  */
  width: 100%;
  height: 80px;
  background: white; /* white */
  border-radius: 4px; /* border-m */
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.footer-menu {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.footer-menu-item {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

body {
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
}

.header-menu {
  display: flex;
  justify-content: space-around;
  margin-top: 8px;
}

.main-foods {
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.main-foods h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.foods-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1em;
}
.food-type {
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
}
.food-card {
  width: 450px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.food-img {
  width: 100%;
  height: 250px;
  /* transform: scale(0.5,0.5); */
  object-fit: cover;
}

.food-description {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  margin-left: 10px;
}

.food-ingredients {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
  margin-left: 10px;
}
.home-cover {
  position: relative;
  margin: 1rem 0;
}

.home-card {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
}

#location-title {
  text-align: center;
}

#googleMaps {
  /* position: absolute; */
  width: 800px;
  height: 400px;
  left: 50%;
  transform: translate(-50%, -0%);
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.home-cover-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  overflow: hidden;
}

.nv-center {
  display: flex;
}

.nv-left,
.nv-right {
  display: flex;
  align-items: center;
}

.nv-center {
  display: flex;
  align-items: center;
  gap: 2rem;
}
a {
  text-decoration: none;
  color: inherit;
}

.icon {
  width: 16px;
  height: 16px;
}

.main-description {
  text-align: center;
  margin-bottom: 2rem;
}

#hover:hover {
  height: 30px;
  color: #d61b1b;
  width: 25%;
}

.nv-right {
  display: flex;
  gap: 1em;
}
button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #000000;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($color, 15%);
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #ffffff;
    &:before {
      width: 100%;
    }
  }
}

/* optional reset for presentation */
* {
  font-family: Arial;
  text-decoration: none;
  font-size: 20px;
}
.container {
  padding-top: 50px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
h1 {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  color: #137d71;
}
span {
  display: block;
  margin-top: 2rem;
  font-size: 0.7rem;
  color: #777;
  a {
    font-size: 0.7rem;
    color: #999;
    text-decoration: underline;
  }
}

#coverimage {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fade-in {
  animation: fadeInAnimation 1s ease forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#coverimage {
  animation: fadeInOut 4s infinite;
  -webkit-animation: fadeInOut 4s infinite;
  -moz-animation: fadeInOut 4s infinite;
  -o-animation: fadeInOut 4s infinite;
  -ms-animation: fadeInOut 4s infinite;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-moz-keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-o-keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-ms-keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* Hover */
button:hover {
  color: #ffffffff; /* white */
  background: #262a33ff; /* neutral-750 */
}
/* Pressed */
button:hover:active {
  color: #ffffffff; /* white */
  background: #323743ff; /* neutral-700 */
}
/* Disabled */
button:disabled {
  opacity: 0.4;
}

.countdown-prompt {
  position: absolute;
  padding: 2rem;
  z-index: 1;
  top: 600%;
  left: 35%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: #ffffff;
  border: 2px solid #333333;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
}

.countdown-prompt input[type="date"] {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.countdown-prompt button {
  display: block; /* Make the button a block-level element */
  margin: 0 auto; /* Center the button horizontally */
  padding: 0.5rem 1rem;
  background-color: #c70b0b;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.countdown-prompt button:hover {
  background-color: #555555;
}

.btn-container {
  display: flex;
}

.toggle-menu {
  display: none;
  cursor: pointer;
  flex-direction: column;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
}

/* Hide menu items initially */
.nv-center {
  display: flex;
  flex-direction: row;
}

/* Move buttons inside the hamburger icon for smaller screens */
.order-book-buttons {
  display: none;
}

/* Adjust styles for smaller screens */
@media only screen and (max-width: 768px) {
  .toggle-menu {
    display: flex;
  }

  .nv-center {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Adjust as needed */
    left: 0;
    background-color: #f9f9f9;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

  .nv-center a {
    padding: 1rem;
    text-align: center;
    width: 100%;
  }

  /* Show buttons inside the hamburger icon */
  .order-book-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
}

/* Small screens (phones) */
@media only screen and (max-width: 600px) {
  /* Adjustments for smaller screens go here */

  nav {
    display: flex;
  }

  .nv-center {
    margin-top: 10px;
  }

  .nv-right {
    flex-direction: column;
    align-items: center;
  }

  .footer-menu {
    flex-direction: column;
  }

  .footer-menu-item {
    margin: 5px 0;
  }

  /* Add more adjustments as needed */
}

/* Medium screens (tablets) */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  /* Adjustments for medium-sized screens go here */

  .header-menu {
    justify-content: space-between;
  }

  nv-center {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .countdown-prompt {
    flex-direction: column;
    align-items: center;
  }

  /* Add more adjustments as needed */
}

/* Large screens (desktops) */
@media only screen and (min-width: 901px) {
  /* Adjustments for larger screens go here */

  .header-menu {
    justify-content: space-between;
  }

  .nv-center {
    margin-top: 0;
    margin-bottom: 0;
  }

  .countdown-prompt {
    flex-direction: row;
    align-items: flex-start;
  }

  /* Add more adjustments as needed */
}
